*{
    margin: 0;
    padding: 0;
}
.heading{
    background-color: rgb(10, 32, 70);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
  
  }
  .search{
    position: absolute;
    top: 15px;
    left:70%;
    width: 30%;
  
  }
  #search{
    padding: 5px;
    border: none;
    border-radius: 2px;
    margin-right: 25px;
    width: 70%;
  }

#cart-products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;   
    margin-top: 7vh; 
}
#cart-rate
{
  margin-top: 10vh;

}
#cart-rate p{
  font-size: 20px;
}
#cart-rate h4{
  border-top:1px dotted rgba(96, 92, 92, 0.768);
  font-size: 20px;
}
#cart-rate h3{
  font-size: 30px;
}
.main
{
  display: flex;
  justify-content: center;
  gap:30px;
}
.p-card
{
  width: 20em;
  border: 1px solid black;
}
.p-card h3
{
  padding:5px 10px;
  text-align: center;
  border-bottom: 1px dotted black;
  color: rgba(0, 0, 0, 0.849);
  margin-bottom: 20px;
}
.p-card p{
  padding: 8px 20px;
}
.p-card h4{
  padding: 8px 20px;
}
.e-card{
    padding: 15px;
    margin: 8px;
    box-shadow:  rgba(0, 0, 0, 0.40) 0px 5px 15px;
    width: 40em;
    height: 18em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;

  
 
  }
   .e-card img{
     width: 12em;
     height: 10em;
     /* padding-right: 5px; */
     background-position: center;
     object-fit: cover;
     background-size: cover;
     
     
  
     
  }
  .e-img{
    display:grid;
    /* border: 1px solid yellow; */
    text-align: center;
    padding-left: 20px;
    
   

  }
  .e-doc{
   padding: 10px;
   font-size: 20px;
  }
  
     .e-doc h4{
     color:black;
     padding-top: 2px;
     font-size: 25px;
     font-weight: lighter;
     margin-bottom: 5px;
 
     }

     .btn{
        background-color:rgb(26, 48, 172);
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 7px;
        margin: 0px 10px;
      }
      .btn:hover
      {
        background-color:rgb(182, 24, 24);

      }
      .bttn{
        background-color:rgb(26, 48, 172);
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 7px;
        margin: 0px 10px;
      }
      .bttn:hover
      {
        background-color:rgb(12, 138, 12);

      }

      .e-doc h6{
        color: rgb(128, 125, 125);
        font-size: 10px;
        font-weight: bold;
      }
  
      .math{
        color: rgb(135, 133, 133);
        text-decoration: line-through;
      }
      .price{
        color: black;
        font-weight: bold;
        margin-right: 12px;
        font-size: 18px;
      }
  
      .discnt{
        color: rgb(18, 120, 18);
        margin-left: 15px;
        font-weight: bold;
  
      }
      .prices{
        margin-bottom: 15px;
  
      }
  
      .icon{
        font-size: 10px;
        text-align: center;
      
      }
      .pro-btn1{
        border: none;
        background-color: rgb(29, 145, 29);
        color: white;
        padding: 3px 5px;
        border-radius: 5px;
      }
  
      .child11{
        color: white;
        
      }

      #total-item{
        width: 15%;
      }

      .cart-no{
        /* margin-right: 10%; */
        margin-top: 10%;

      }
      .cart-no button{
        padding: 3px 8px;
        margin-left: 10px;
        margin-right: 10px;
       

      }
      #total-item{
        font-weight: bold;
        font-size: 18px;
      }
      #total-items{
        /* font-weight: bold; */
        /* font-size: 18px; */
        width: 10%;
      }
    
  
     
  .total-price{
    width: 56em;
    height: 16em;
    box-shadow:  rgba(0, 0, 0, 0.40) 0px 5px 15px;
    display: grid;
    background-color: aqua;
    justify-content: center;

  }

  .nav-head{
    color: white;
    
  }
  *{
    margin: 0;
    padding: 0;
}
.heading{
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  height: 50%;
  background-color: rgb(25, 50, 212);
  color: white;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
}
.heading img{
width:30px;
margin-left: 20px;
margin-right: 20px;
}
.right
{
  display: flex;
}
.cart-logo{
  padding-right: 20px;
 margin-right: 20px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.heading h2{
  margin-left: 10px;
  font-size: 35px
}

#search{
  padding: 8px 8px;
  border-radius: 100px;
  margin-right: 50px;
  width: 300px;
  margin-top: 5px;
  background-image: url(../images/search\ logo.png);
  background-repeat: no-repeat;
  background-size: 15px;
  padding-left: 20px;
  background-position:left;
  background-position-x: 50px;
  text-align: center;
}
.e-doc h6{
  
 
  color: rgba(0, 0, 0, 0.372);
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 10px;
  }